# Gradle 缓存目录
.gradle/
/build/
.externalNativeBuild/
.cxx/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.log
*.bak
.DS_Store
captures/

# 本地配置文件
local.properties
/local.properties

# MacOS 系统文件
.DS_Store

# Keystore 文件（如果存在）
*.keystore